In [1]:
import pandas as pd
import numpy as np

## Lineage List (cov-lineages.org)

Data Source: https://cov-lineages.org/lineage_list.html

https://github.com/cov-lineages/lineages-website/blob/master/_data/lineage_data.full.json

In [2]:
file_Path = "../Data/CovLineage/lineage_data.full.json"

In [7]:
df = pd.read_json (file_Path).T
df

,Lineage,Countries,Country counts,Earliest date,Latest date,Number designated,Number assigned,Date,Travel history,Description
A,A,"United States of America 32.0%, United_Arab_Em...","[{'country': 'Slovakia', 'counts': [{'date': '...",2019-12-30,2022-12-29,1697,2679,"[{'date': '2021-03-03', 'count': 1}, {'date': ...",6 Germany/wedding; 3 China/Hubei;,One of the two original haplotypes of the pand...
A.1,A.1,,[],,,2699,0,[],,USA lineage
A.2,A.2,"Spain 60.0%, Panama 15.0%, United Kingdom 5.0%...","[{'country': 'Nicaragua', 'counts': [{'date': ...",2020-02-04,2021-08-26,1105,1496,"[{'date': '2020-03-24', 'count': 32}, {'date':...",,Mostly Spanish lineage now includes South and ...
A.2.2,A.2.2,"Australia 92.0%, New_Zealand 2.0%, Canada 2.0%...","[{'country': 'Australia', 'counts': [{'date': ...",2020-03-17,2020-05-08,473,564,"[{'date': '2020-04-01', 'count': 10}, {'date':...",,Australian lineage
A.2.3,A.2.3,United Kingdom 100.0%,"[{'country': 'United Kingdom', 'counts': [{'da...",2020-03-12,2020-05-29,166,199,"[{'date': '2020-03-29', 'count': 9}, {'date': ...",,Scottish lineage
...,...,...,...,...,...,...,...,...,...,...
*I.1,*I.1,,[],,,0,0,[],,"Withdrawn: Alias of B.1.1.217.1, Latvian linea..."
J.1,J.1,,[],,,0,0,[],,Lineage reassigned. Withdrawn: Alias of B.1.1....
*J.1,*J.1,,[],,,0,0,[],,"Withdrawn: Alias of B.1.1.250.1, Australian li..."
BQ.1.1.33,BQ.1.1.33,,[],,,0,0,[],,Lineage reassigned. Withdrawn: Alias of B.1.1....
*BQ.1.1.33,*BQ.1.1.33,,[],,,0,0,[],,Withdrawn: Alias of B.1.1.529.5.3.1.1.1.1.1.1....

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3311 entries, A to *BQ.1.1.33
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Lineage            3311 non-null   object
 1   Countries          3311 non-null   object
 2   Country counts     3311 non-null   object
 3   Earliest date      3311 non-null   object
 4   Latest date        3311 non-null   object
 5   Number designated  3311 non-null   object
 6   Number assigned    3311 non-null   object
 7   Date               3311 non-null   object
 8   Travel history     3311 non-null   object
 9   Description        3311 non-null   object
dtypes: object(10)
memory usage: 413.6+ KB

In [9]:
df.columns

Index(['Lineage', 'Countries', 'Country counts', 'Earliest date',
       'Latest date', 'Number designated', 'Number assigned', 'Date',
       'Travel history', 'Description'],
      dtype='object')

In [40]:
data = df[['Lineage', 'Countries', 'Earliest date',
       'Latest date', 'Description']]

In [41]:
data

,Lineage,Countries,Earliest date,Latest date,Description
A,A,"United States of America 32.0%, United_Arab_Em...",2019-12-30,2022-12-29,One of the two original haplotypes of the pand...
A.1,A.1,,,,USA lineage
A.2,A.2,"Spain 60.0%, Panama 15.0%, United Kingdom 5.0%...",2020-02-04,2021-08-26,Mostly Spanish lineage now includes South and ...
A.2.2,A.2.2,"Australia 92.0%, New_Zealand 2.0%, Canada 2.0%...",2020-03-17,2020-05-08,Australian lineage
A.2.3,A.2.3,United Kingdom 100.0%,2020-03-12,2020-05-29,Scottish lineage
...,...,...,...,...,...
*I.1,*I.1,,,,"Withdrawn: Alias of B.1.1.217.1, Latvian linea..."
J.1,J.1,,,,Lineage reassigned. Withdrawn: Alias of B.1.1....
*J.1,*J.1,,,,"Withdrawn: Alias of B.1.1.250.1, Australian li..."
BQ.1.1.33,BQ.1.1.33,,,,Lineage reassigned. Withdrawn: Alias of B.1.1....
*BQ.1.1.33,*BQ.1.1.33,,,,Withdrawn: Alias of B.1.1.529.5.3.1.1.1.1.1.1....

In [42]:
#Replace Blank/Empty String with NaN
data = data.replace('',np.nan,regex=True)
data

,Lineage,Countries,Earliest date,Latest date,Description
A,A,"United States of America 32.0%, United_Arab_Em...",2019-12-30,2022-12-29,One of the two original haplotypes of the pand...
A.1,A.1,NaN,NaN,NaN,USA lineage
A.2,A.2,"Spain 60.0%, Panama 15.0%, United Kingdom 5.0%...",2020-02-04,2021-08-26,Mostly Spanish lineage now includes South and ...
A.2.2,A.2.2,"Australia 92.0%, New_Zealand 2.0%, Canada 2.0%...",2020-03-17,2020-05-08,Australian lineage
A.2.3,A.2.3,United Kingdom 100.0%,2020-03-12,2020-05-29,Scottish lineage
...,...,...,...,...,...
*I.1,*I.1,NaN,NaN,NaN,"Withdrawn: Alias of B.1.1.217.1, Latvian linea..."
J.1,J.1,NaN,NaN,NaN,Lineage reassigned. Withdrawn: Alias of B.1.1....
*J.1,*J.1,NaN,NaN,NaN,"Withdrawn: Alias of B.1.1.250.1, Australian li..."
BQ.1.1.33,BQ.1.1.33,NaN,NaN,NaN,Lineage reassigned. Withdrawn: Alias of B.1.1....
*BQ.1.1.33,*BQ.1.1.33,NaN,NaN,NaN,Withdrawn: Alias of B.1.1.529.5.3.1.1.1.1.1.1....

In [43]:
data.isnull().mean()

Lineage          0.000000
Countries        0.227726
Earliest date    0.227726
Latest date      0.227726
Description      0.000000
dtype: float64

In [44]:
data = data.dropna()
data.isnull().mean()

Lineage          0.0
Countries        0.0
Earliest date    0.0
Latest date      0.0
Description      0.0
dtype: float64

In [45]:
data

,Lineage,Countries,Earliest date,Latest date,Description
A,A,"United States of America 32.0%, United_Arab_Em...",2019-12-30,2022-12-29,One of the two original haplotypes of the pand...
A.2,A.2,"Spain 60.0%, Panama 15.0%, United Kingdom 5.0%...",2020-02-04,2021-08-26,Mostly Spanish lineage now includes South and ...
A.2.2,A.2.2,"Australia 92.0%, New_Zealand 2.0%, Canada 2.0%...",2020-03-17,2020-05-08,Australian lineage
A.2.3,A.2.3,United Kingdom 100.0%,2020-03-12,2020-05-29,Scottish lineage
A.2.4,A.2.4,"Panama 100.0%, United Kingdom 0.0%",2020-02-20,2021-01-13,Panama lineage
...,...,...,...,...,...
XBM,XBM,"Canada 65.0%, United States of America 24.0%, ...",2022-07-25,2023-02-23,"Recombinant lineage of BA.2.76 and BF.3, India..."
XBN,XBN,"United States of America 82.0%, Switzerland 7....",2022-09-29,2023-02-03,"Recombinant lineage of BA.2.75 and XBB.3, main..."
XBP,XBP,"United States of America 58.0%, United Kingdom...",2022-11-01,2023-03-04,"Recombinant lineage of BA.2.75* and BQ.1*, pre..."
BB.1,BB.1,"Colombia 69.0%, Chile 17.0%, United States of ...",2021-04-11,2021-12-22,Lineage reassigned. Withdrawn: Redesignated as...
B.59,B.59,"Ireland 56.0%, United Kingdom 11.0%, United St...",2020-03-13,2021-03-08,Lineage reassigned. Withdrawn: Originally Latv...

In [46]:
most_common_lst = data.Countries.str.split(",").to_list()
len(most_common_lst)

2557

In [55]:
common_country_1 = [x[0].rsplit(' ', 1) for x in most_common_lst]
len(common_country_1)

2557

In [65]:
country_1 = [x[0] for x in common_country_1]
country_rate_1 = [float(x[1][:-1]) for x in common_country_1]

In [66]:
len(country_1)

2557

In [71]:
# add it the info of most common country into dataframe
data['Most common country'] = country_1 
data['Most common country rate'] = country_rate_1
data

<ipython-input-71-4b5aefa60a28>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Most common country'] = country_1
<ipython-input-71-4b5aefa60a28>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Most common country rate'] = country_rate_1

,Lineage,Countries,Earliest date,Latest date,Description,Most common country,Most common country rate
A,A,"United States of America 32.0%, United_Arab_Em...",2019-12-30,2022-12-29,One of the two original haplotypes of the pand...,United States of America,32.0
A.2,A.2,"Spain 60.0%, Panama 15.0%, United Kingdom 5.0%...",2020-02-04,2021-08-26,Mostly Spanish lineage now includes South and ...,Spain,60.0
A.2.2,A.2.2,"Australia 92.0%, New_Zealand 2.0%, Canada 2.0%...",2020-03-17,2020-05-08,Australian lineage,Australia,92.0
A.2.3,A.2.3,United Kingdom 100.0%,2020-03-12,2020-05-29,Scottish lineage,United Kingdom,100.0
A.2.4,A.2.4,"Panama 100.0%, United Kingdom 0.0%",2020-02-20,2021-01-13,Panama lineage,Panama,100.0
...,...,...,...,...,...,...,...
XBM,XBM,"Canada 65.0%, United States of America 24.0%, ...",2022-07-25,2023-02-23,"Recombinant lineage of BA.2.76 and BF.3, India...",Canada,65.0
XBN,XBN,"United States of America 82.0%, Switzerland 7....",2022-09-29,2023-02-03,"Recombinant lineage of BA.2.75 and XBB.3, main...",United States of America,82.0
XBP,XBP,"United States of America 58.0%, United Kingdom...",2022-11-01,2023-03-04,"Recombinant lineage of BA.2.75* and BQ.1*, pre...",United States of America,58.0
BB.1,BB.1,"Colombia 69.0%, Chile 17.0%, United States of ...",2021-04-11,2021-12-22,Lineage reassigned. Withdrawn: Redesignated as...,Colombia,69.0
B.59,B.59,"Ireland 56.0%, United Kingdom 11.0%, United St...",2020-03-13,2021-03-08,Lineage reassigned. Withdrawn: Originally Latv...,Ireland,56.0

In [73]:
data

,Lineage,Countries,Earliest date,Latest date,Description,Most common country,Most common country rate
A,A,"United States of America 32.0%, United_Arab_Em...",2019-12-30,2022-12-29,One of the two original haplotypes of the pand...,United States of America,32.0
A.2,A.2,"Spain 60.0%, Panama 15.0%, United Kingdom 5.0%...",2020-02-04,2021-08-26,Mostly Spanish lineage now includes South and ...,Spain,60.0
A.2.2,A.2.2,"Australia 92.0%, New_Zealand 2.0%, Canada 2.0%...",2020-03-17,2020-05-08,Australian lineage,Australia,92.0
A.2.3,A.2.3,United Kingdom 100.0%,2020-03-12,2020-05-29,Scottish lineage,United Kingdom,100.0
A.2.4,A.2.4,"Panama 100.0%, United Kingdom 0.0%",2020-02-20,2021-01-13,Panama lineage,Panama,100.0
...,...,...,...,...,...,...,...
XBM,XBM,"Canada 65.0%, United States of America 24.0%, ...",2022-07-25,2023-02-23,"Recombinant lineage of BA.2.76 and BF.3, India...",Canada,65.0
XBN,XBN,"United States of America 82.0%, Switzerland 7....",2022-09-29,2023-02-03,"Recombinant lineage of BA.2.75 and XBB.3, main...",United States of America,82.0
XBP,XBP,"United States of America 58.0%, United Kingdom...",2022-11-01,2023-03-04,"Recombinant lineage of BA.2.75* and BQ.1*, pre...",United States of America,58.0
BB.1,BB.1,"Colombia 69.0%, Chile 17.0%, United States of ...",2021-04-11,2021-12-22,Lineage reassigned. Withdrawn: Redesignated as...,Colombia,69.0
B.59,B.59,"Ireland 56.0%, United Kingdom 11.0%, United St...",2020-03-13,2021-03-08,Lineage reassigned. Withdrawn: Originally Latv...,Ireland,56.0

In [77]:
data = data[['Lineage', 'Most common country', 'Most common country rate', 'Earliest date', 'Latest date',
       ]]

In [78]:
data

,Lineage,Most common country,Most common country rate,Earliest date,Latest date
A,A,United States of America,32.0,2019-12-30,2022-12-29
A.2,A.2,Spain,60.0,2020-02-04,2021-08-26
A.2.2,A.2.2,Australia,92.0,2020-03-17,2020-05-08
A.2.3,A.2.3,United Kingdom,100.0,2020-03-12,2020-05-29
A.2.4,A.2.4,Panama,100.0,2020-02-20,2021-01-13
...,...,...,...,...,...
XBM,XBM,Canada,65.0,2022-07-25,2023-02-23
XBN,XBN,United States of America,82.0,2022-09-29,2023-02-03
XBP,XBP,United States of America,58.0,2022-11-01,2023-03-04
BB.1,BB.1,Colombia,69.0,2021-04-11,2021-12-22
B.59,B.59,Ireland,56.0,2020-03-13,2021-03-08

In [79]:
output_f = "../Data/CovLineage/lineage_data.csv"
data.to_csv(output_f, index=False)

In [87]:
country_list = set(data['Most common country'].to_list())
print(country_list)

{'Colombia', 'Denmark', 'Lebanon', 'Ecuador', 'Republic_of_the_Congo', 'Netherlands', 'Spain', 'Slovenia', 'Papua_New_Guinea', 'Slovakia', 'Pakistan', 'Burkina_Faso', 'Romania', 'Greece', 'Switzerland', 'Equatorial_Guinea', 'Saudi_Arabia', 'Iraq', 'Oman', 'Aruba', 'Kenya', 'Ghana', 'Chile', 'Portugal', 'Uruguay', 'Qatar', 'Macedonia', 'New_Zealand', 'Luxembourg', 'Sierra_Leone', 'Brazil', 'Bulgaria', 'Thailand', 'Italy', 'Iran', 'Saint_Vincent_and_the_Grenadines', 'France', 'Tunisia', 'Maldives', 'Zambia', 'Czech_Republic', 'Gambia', 'Taiwan', 'Vietnam', 'Malaysia', 'Peru', 'Sweden', 'Rwanda', 'Hong_Kong', 'Poland', 'Morocco', 'Mozambique', 'Laos', 'Estonia', 'India', 'Suriname', 'Japan', 'Philippines', 'Trinidad_and_Tobago', 'Fiji', 'Lithuania', 'Latvia', 'Austria', 'Kuwait', 'Mauritius', 'Kazakhstan', 'Martinique', 'Indonesia', "Cote_d'Ivoire", 'French_Guiana', 'Bahrain', 'Turkey', 'South_Korea', 'Panama', 'Egypt', 'Ireland', 'Senegal', 'China', 'Costa_Rica', 'Canada', 'Uganda', 'United Kingdom', 'United_Arab_Emirates', 'Sri_Lanka', 'Russia', 'Bonaire', 'Singapore', 'Nigeria', 'Angola', 'Finland', 'Mexico', 'Gibraltar', 'Australia', 'Mayotte', 'Reunion', 'Brunei', 'Democratic Republic of the Congo', 'Botswana', 'Belgium', 'Bangladesh', 'Canary_Islands', 'Germany', 'Norway', 'Iceland', 'CuraÃ§ao', 'Jordan', 'Nicaragua', 'Hungary', 'Israel', 'Argentina', 'Croatia', 'Solomon_Islands', 'United States of America', 'South_Africa'}